<app-diretiva-ngif></app-diretiva-ngif>
<h1>-----------------------------------------------------------------------------------</h1>
<br>

<app-diretiva-ngswitch></app-diretiva-ngswitch>
<h1>-----------------------------------------------------------------------------------</h1>
<br>
<app-diretiva-ngfor></app-diretiva-ngfor>-
<h1>-----------------------------------------------------------------------------------</h1>
<br>

<app-diretiva-ngclass></app-diretiva-ngclass>
<h1>-----------------------------------------------------------------------------------</h1>
<br>

<app-diretiva-ngstyle></app-diretiva-ngstyle>
<h1>-----------------------------------------------------------------------------------</h1>
<br>

<app-operador-elvis></app-operador-elvis>
<h1>-----------------------------------------------------------------------------------</h1>
<br>

<app-exemplo-ng-content>
  <div class="titulo">Titulo do Painel</div>
  <div class="corpo">Conteudo passado para o componente</div>
  <div class="corpo">Conteudo passado para o componente 2</div> Esses 2 vão ser concatenados e mandados para dentro da tag ng-content, como o seletor na class é .corpo, então só vai ser mandado para essa tag o que tiver com class corpo
  <app-diretiva-ngstyle></app-diretiva-ngstyle>
</app-exemplo-ng-content>
<h1>-----------------------------------------------------------------------------------</h1>
<br>

<app-diretivas-customizadas></app-diretivas-customizadas>





















<!-- <header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>

<main>
  <section>
    <article>
      <h3>Titulo do meu artigo</h3>
            <p>Conteudo do meu artigo</p>
            <p>Mais conteúdo para o meu artigo</p>
            <ol>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ol>
    </article>
  </section>
  <section>
    <article>
      <h3>Titulo do meu artigo</h3>
            <p>Conteudo do meu artigo</p>
            <p>Mais conteúdo para o meu artigo</p>
            <ol>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ol>
    </article>

  </section>
</main>

<footer>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</footer>

-->

